numpy
tqdm
#lightning
#transformers
#sentence-transformers
mysql-connector-python
#tabulate
pandas
#tensorboard
scikit-learn
validators
#performer-pytorch
sqlalchemy
sqlparse
#omegaconf
#hydra-core
#tensordict
#pytorch_frame
#relbench
#torch-cluster
pymysql